# ignore dotfiles, binaries
.DS_Store
.ipynb_checkpoints
/.vscode
__pycache__

# ignore data
/tif_data
/csv_data

# ignore unneeded code, metatdata, submissions
/_deprecated
/notebooks
/catboost_info
**-submission.csv

api_key.txt
