matplotlib==3.1.1
gdal==2.3.3
geopandas==0.4.1
jupyter==1.0.0
numpy===h1.18.1
pandas==0.23.4
psycopg2==2.8.4
python==3.7.3
requests==2.22.0
scikit-learn==0.20.1
scipy==1.1.0
seaborn==0.9.0
shapely==1.6.4
statsmodels==0.10.1
theano==1.0.4
tqdm==4.41.1
# tensorflow>=2.0
# skimage==0.16.1
# tifffile==0.15.1